# PostgreSQL
POSTGRES_USER=strapi
POSTGRES_PASSWORD=strapi
POSTGRES_DB=timoun_db

# Strapi secrets — générer avec : openssl rand -base64 32
APP_KEYS=cle1base64,cle2base64,cle3base64,cle4base64
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
JWT_SECRET=
ENCRYPTION_KEY=

# Frontend — URL Strapi accessible depuis le navigateur
VITE_API_URL=http://localhost:1337